[server]
listen = "{{ csaf_trove_listen }}"
api_token_file = "{{ csaf_trove_api_token_file }}"

[data]
dir = "{{ csaf_trove_data_dir }}"

[github]
repo = "{{ csaf_trove_github_source_repo }}"
webhook_secret_file = "{{ csaf_trove_webhook_secret_file }}"
poll_interval = "{{ csaf_trove_poll_interval }}"

[scheduler]
sync_interval = "{{ csaf_trove_sync_interval }}"
max_concurrent = {{ csaf_trove_max_concurrent }}
